#responsive-heading-content {
    padding: 25px;
    text-align: center;
}
#main-advertise-port {
    padding: 25px;
    text-align: center;
    background-color: white;
}
#main-more-features {
    padding: 25px;
    text-align: center;
}
#main-features-container {
    text-align: center;
}